{% extends "base.html" %}

{% block content %}
    <h1>My Blogs</h1>
    {% if blogs|length == 0 %}
    <p>No Blogs yet, try <a href=/addablog>adding one</a></p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li class='blog'><a href='./blogpage?blog-id={{blog.id}}'>{{blog.title}}</a>
                <br>
                {{blog.body}}
                <br>

                
                
            </li>
            <br>
            <br>
            <br>
            {% endfor %}
        </ul>
        

    {% endif %}
{% endblock %}